@import "../../scss/variables";
@import "../../scss/themes";

.message {
  max-width: 430px;
  padding: $padding-message;

  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $gap-message;

  .imgContainer {
    img {
      border-radius: $border-radius;
      width: 100%;
    }
  }

  .text {
    overflow-wrap: break-word;

    .messageMeta {
      position: relative;
      top: 0.375rem;
      bottom: auto !important;
      margin-left: 8px;
      float: right;

      .date {
        font-size: 12px;

        color: var(--caption-color);
      }

      .status {
        margin-left: 6px;
      }
    }
  }
}

.messageIn {
  align-self: flex-start;
  background-color: var(--message-color);
  margin-right: 24px;

  .status {
    svg {
      path {
        stroke: var(--message-navigation-color);
      }
    }
  }
}

.messageOut {
  align-self: flex-end;
  background-color: var(--my-message-color);
  margin-left: 24px;

  .status {
    svg {
      path {
        stroke: var(--my-message-navigation-color);
      }
    }
  }
}
