@import "../../scss/themes";
@import "../../scss/variables";

.userCard {
  display: flex;
  padding: $padding-user-card;
  gap: $gap-user-card;
  align-items: center;
  transition: $transition;
  border-radius: $border-radius;

  &:hover {
    background-color: var(--overlay-color);
  }

  .avatarContainer {
    min-width: 54px;
    min-height: 54px;
    width: 54px;
    height: 54px;
    background-image: url("/avatars/default-avatar.jpeg");
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      max-width: 54px;
      max-height: 54px;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
    }

    .online {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--green-color);
      position: absolute;
      z-index: 5;
      right: 4px;
      bottom: 4px;
      border: 1px solid var(--stroke-color);
    }
  }

  .name {
    cursor: pointer;
    color: inherit;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5rem;
    position: relative;
    padding-right: 22px;

    .verifiedIcon {
      position: absolute;
      display: flex;
      align-items: center;
      margin-left: 8xp;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    .icon {
      margin-left: 6px;
      max-width: 16px;

      opacity: 0;
      display: inline;
      transition: $transition;
      display: inline;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }

  .notification {
    display: flex;
    align-items: center;
    margin-left: auto;
    .dot {
      width: 17px;
      height: 17px;
      background-color: var(--accent-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f0f0f0;
      font-size: 12px;
    }
  }
}

.userCardSelected {
  background-color: var(--selected-color);

  &:hover {
    background-color: var(--selected-color);
  }
}

.personal {
  flex-direction: column;
  background-color: var(--accent-color);
  align-items: flex-start;
  border-radius: 0;
  color: white !important;
  position: relative;
  &:hover {
    background-color: var(--accent-color);
  }

  .name {
    width: 100%;
  }

  .buttonsContainer {
    form {
      display: flex;
      gap: 8px;
    }
  }
}

.inputWrapper {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    background-image: url("/icons/edit.svg");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
  }

  .inputName {
    color: white;
    padding-right: 16px;

    &:focus-visible {
      border-bottom: 2px solid white;
    }
  }
}
