@import "../../scss/themes";
@import "../../scss/variables";

.chat {
  // width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;

  .componentStatus {
    align-self: center;
  }

  .header {
    padding: $padding-header;
    background-color: var(--background-color);
    height: 52px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .onlineStatus {
      font-size: 14px;
      color: var(--caption-color);
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: $padding-chat;
    padding-top: 0;
    flex: 1;
    align-items: center;
    overflow: hidden;
    gap: $gap-chat;
    min-width: 300px;
    width: 100%;
    max-width: 750px;
    align-self: center;
    overflow: hidden;

    .messagesWindow {
      display: flex;
      width: 100%;
      flex-direction: column-reverse;
      scroll-behavior: smooth;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      gap: $gap-messages-window;

      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .messageForm {
      display: flex;
      background-color: var(--background-color);
      width: 100%;
      border-radius: $border-radius;
      padding: $padding-input-message;
      border-bottom: 2px solid transparent;
      transition: $transition;
      align-items: center;
      gap: $gap-input-massage;

      &:focus-within {
        border-bottom: 2px solid var(--accent-color);
      }

      .inputMessage {
        width: 100%;
        white-space: pre-line;
        max-height: 150px;
        overflow: auto;
        appearance: none;
        background-color: transparent;
        border: none;
        line-height: 1.5rem;
        outline: none;
        transition: $transition;

        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }

        &[placeholder]:empty::before {
          content: attr(placeholder);
          color: var(--caption-color);
          cursor: text;
        }
      }

      .attachments {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          transition: $transition;

          path {
            fill: var(--caption-color);
          }

          &:hover {
            path {
              fill: var(--accent-color);
            }
          }
        }
      }
    }
  }
}
