@import "../../scss/themes";
@import "../../scss/variables";

.chat {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 3;
  background: var(--chat-background-color);
  justify-content: center;

  .componentStatus {
    align-self: center;
  }

  .header {
    padding: $padding-header;
    background-color: var(--background-color);
    height: 52px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    gap: 16px;
    align-items: center;

    .iconArrow {
      padding: 4px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      cursor: pointer;

      &:hover {
        background-color: var(--selected-color);
      }
      path {
        fill: var(--caption-color);
      }
    }

    .meta {
      overflow: hidden;
      .userName {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .onlineStatus {
        font-size: 14px;
        color: var(--caption-color);
      }
    }
  }

  .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: $padding-chat;
    padding-top: 0;
    gap: $gap-chat;
    align-items: center;
    overflow: hidden;
    min-width: 300px;

    .container {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column-reverse;
      scroll-behavior: smooth;
      overflow-y: auto;

      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .messagesWindow {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        height: 100%;
        gap: $gap-messages-window;
        max-width: 750px;
        height: fit-content;
      }
    }
  }
}
