@import "../../scss/themes";
@import "../../scss/variables";

.userCard {
  display: flex;
  padding: $padding-user-card;
  gap: $gap-user-card;
  align-items: center;
  transition: $transition;
  border-radius: $border-radius;

  &:hover {
    background-color: var(--overlay-color);
  }

  .avatarContainer {
    // max-width: 128px;
    // min-width: 64px;
    width: 54px;
    height: 54px;
    background-image: url("/avatars/default-avatar.jpeg");
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      width: 100%;
      border-radius: 50%;
      position: absolute;
    }

    .online {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--green-color);
      position: absolute;
      z-index: 6;
      right: 4px;
      bottom: 4px;
      border: 1px solid var(--stroke-color);
    }
  }

  .name {
    display: flex;
    cursor: text;
    width: max-content;
    text-wrap: nowrap;
    gap: 6px;
    color: inherit;

    .icon {
      max-width: 16px;

      opacity: 0;
      display: inline;
      transition: $transition;

      img {
        width: 16px;
      }
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }
}
.userCardSelected {
  background-color: var(--selected-color);

  &:hover {
    background-color: var(--selected-color);
  }
}
.personal {
  flex-direction: column;
  background-color: var(--accent-color);
  align-items: flex-start;
  border-radius: 0;
  color: white !important;
  position: relative;
  &:hover {
    background-color: var(--accent-color);
  }

  .buttonsContainer {
    form {
      display: flex;
      gap: 8px;
    }
  }
}

.inputWrapper {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    background-image: url("/icons/edit.svg");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
  }
  .inputName {
    color: white;
    padding-right: 16px;

    &:focus-visible {
      border-bottom: 2px solid white;
    }
  }
}
