@import "./themes";
@import "./variables";

// .button {
//   appearance: none;
//   border: none;
//   border: 1px solid $accent-color;
//   border-radius: $border-radius;
//   padding: $padding-button;
//   width: fit-content;
//   align-self: center;
//   background-color: $accent-color;
//   color: white;
//   transition: $transition;

//   &:hover {
//     background-color: transparent;
//     color: $accent-color;
//   }
// }

.sendOtpButton {
  display: inline !important;
  background-color: transparent !important;
  color: var(--accent-color) !important;
  margin-left: 6px;
  margin-top: 6px;

  &:hover {
    background-color: var(--accent-color) !important;
    color: white !important;
  }
}

.buttonSettings {
  // border-color: white;

  &:hover {
    background-color: white;
  }
}

.sendButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: var(--svg-invert-accent);
  cursor: pointer;
  // padding: 4px;
  width: 24px;
  height: 24px;
  // background-color: red;

  // &::after {
  //   content: url("/icons/sendButtonLight.svg");
  // }
}
