@import "./themes";
@import "./variables";

.sendOtpButton {
  display: inline !important;
  background-color: transparent !important;
  color: var(--accent-color) !important;
  margin-left: 6px;
  margin-top: 6px;

  &:hover {
    background-color: var(--accent-color) !important;
    color: white !important;
  }
}

.buttonSettings {
  &:hover {
    background-color: white;
  }
}

.sendButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: var(--svg-invert-accent);
  cursor: pointer;
  width: 24px;
  height: 24px;
}
