@import "./themes";
@import "./variables";

// .button {
//   appearance: none;
//   border: none;
//   border: 1px solid $accent-color;
//   border-radius: $border-radius;
//   padding: $padding-button;
//   width: fit-content;
//   align-self: center;
//   background-color: $accent-color;
//   color: white;
//   transition: $transition;

//   &:hover {
//     background-color: transparent;
//     color: $accent-color;
//   }
// }

.sendOtpButton {
  display: inline !important;
  background-color: transparent !important;
  color: $accent-color !important;
  margin-left: 6px;
  margin-top: 6px;

  &:hover {
    background-color: $accent-color !important;
    color: white !important;
  }
}
