@import "./themes";
@import "./variables";

.invalid {
  color: $red-color;
  transition: $transition;
  position: relative;
  margin-left: 12px;

  &::before {
    content: "🞩";
    position: absolute;
    left: -14px;
    top: 1px;
  }
}

.valid {
  color: $green-color;
  transition: $transition;
  position: relative;
  margin-left: 12px;

  &:before {
    content: "✓";
    position: absolute;
    left: -14px;
    top: 1px;
  }
}

.mainContainer {
  background: $background-color;
  backdrop-filter: blur(10px);
  padding: $padding-form;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  // max-width: 400px;
  // width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;

  .formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 2px solid $stroke-color;
      border-radius: $border-radius;
      padding: $padding-form;

      .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 2px;

        input {
          appearance: none;
          border: none;
          border-bottom: 2px solid $stroke-color;
          background-color: transparent;
          transition: $transition;

          &:focus-visible {
            outline: none;
            border-bottom: 2px solid $accent-color;
          }
        }

        .inputError {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          gap: 2px;
        }
      }
      .avatarContainer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        .text {
          text-align: center;
          cursor: default;
        }
      }
      button {
        appearance: none;
        border: none;
        border: 1px solid $accent-color;
        border-radius: $border-radius;
        padding: $padding-button;
        width: fit-content;
        align-self: center;
        background-color: $accent-color;
        color: white;
        transition: $transition;

        &:hover {
          background-color: transparent;
          color: $accent-color;
        }
      }
    }
  }

  .additional {
    font-size: 14px;
    .text {
      cursor: default;
    }
    .NavLink {
      color: $accent-color;
      transition: $transition;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.formNamePassword {
  max-width: 400px;
  width: 100%;
}

.inputStyle {
  appearance: none;
  border: none;
  border-bottom: 2px solid $stroke-color;
  background-color: transparent;
  transition: $transition;

  &:focus-visible {
    outline: none;
    border-bottom: 2px solid $accent-color;
  }
}

.otpContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.text {
  text-align: center;
}

.sendOtpButton {
  display: inline !important;
  background-color: transparent !important;
  color: $accent-color !important;
  margin-left: 6px;
  margin-top: 6px;

  &:hover {
    background-color: $accent-color !important;
    color: white !important;
  }
}
